/* Theme colors */
.root {
    -fx-bg: #F5F5EF;
    -fx-text: #000;
    -fx-primary: #FFBB61;
    -fx-secondary: #CEBB9D;
    -fx-secondary-bg: #EBE6E1;
    -fx-secondary-select: #B0E0E6;
    -fx-focus: derive(-fx-primary, -40%);
    -fx-link: #3e7b91;
    -fx-error: #d06651;
    -fx-valid-command: #aaaba4;
}
